.footer {
    background-color: black;
    padding-top: 30px;
}
.info {
    color: #fff;
}
.footer p {
    color: #f0cb35;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: red;
}
.footer img {
    width: 80%;
}
@media only screen and (max-width: 739px) {
    .footer p {
        font-size: 14px;
    }
    .footer a {
        font-size: 14px;
    }
}